.btn {
  height: 40px;
}

.panel {
  height: 150px;
  width: 250px;
  border: 1px dashed gray;
  transition: all .2s linear;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items:center;
  &--hide  {
    height: 0;
  }
}